
@{
    ViewBag.Title = "لیست برچسب ها";
}
<a href="/workshopTag/add" class="btn btn-success">
    جدید
    <span class="fa fa-plus"></span>
</a>
<div class="container">
    <div id="content">
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            getList()
            $(document).on("click", ".deleteCollection", function () {
                var id = $(this).attr("data-id")
                confirmMessage("آیا از حذف اطلاعات اطمینان دارید؟", function () {
                    $.post("/workshopTag/delete/" + id, function (response) {
                        loader(false);
                        if (response.status == 200) {
                            getList();
                        }
                        else {
                            alert(response.message)
                        }
                    });
                })
            })
        })
        function getList() {
            var defaultEntity = {
                page: 0,
                count: 20,
            }
            $.get("/workshopTag/search", defaultEntity,function (response) {
                if (response.status == 200) {
                    var data = response.data;
                    var template = $.templates("#template");
                    var htmlOutput = template.render(data);
                    $("#content").html(htmlOutput);
                }
                else {
                    alert(response.message);
                }
                loader(false);
            });
        }
    </script>
    <script id="template" type="text/x-jsrender">
        <table class="table table-data table-responsive">
            <thead>
                <tr>
                    <th class="hidden-xs">عنوان</th>
                    <th class="hidden-xs">کارگاه</th>
                    <th class="icon-col text-center">ویرایش</th>
                    <th class="icon-col text-center">حذف</th>
                </tr>
            </thead>
            <tbody>
                {{for list}}
                <tr>
                    <td class="hidden-xs">{{:title}}</td>
                    <td class="hidden-xs">{{:workshop}}</td>
                    <td class="txt-al-c">
                        <a href="/workshopTag/edit/{{:id}}" class="btn btn-primary btn-xs" data-title="ویرایش"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                    <td class="txt-al-c">
                        <button class="deleteCollection btn btn-danger btn-xs" data-title="حذف" data-id="{{:id}}"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </td>
                </tr>
                {{/for}}
            </tbody>
        </table>
        <div class="clearfix"></div>
        @Html.Partial("_Pagination")
    </script>

}
