
@{
    ViewBag.Title = "بانک ها";
}

<div id="control-section">

    <a href="/dailyReport/settings" class="btn btn-danger">
        <i class="fa fa-arrow-right v-middle" aria-hidden="true"></i>&nbsp;
        <span>بازگشت</span>
    </a>
    <a id="btnAdd" href="#" class="btn btn-primary">
        <i class="fa fa-plus v-middle" aria-hidden="true"></i>&nbsp;
        <span>جدید</span>
    </a>
    <br />
    <h3>@ViewBag.Title</h3>
</div>

<div id="content">

</div>

<div id="modalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">بانک جدید</h4>
            </div>
            <div id="product-content" class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <input id="hiddenId" type="hidden" name="id" value="" />
                        <div class="form-group">
                            <label for="txtOrder">ترتیب</label>
                            <input id="txtOrder" type="tel" class="form-control number-only" name="order" maxlength="10" data-validate="required, maxLength(10), number">
                        </div>
                        <div class="form-group">
                            <label for="txtName">نام</label>
                            <input id="txtName" type="tel" class="form-control" name="name" maxlength="50" data-validate="required, maxLength(50)">
                        </div>
                        <div class="form-group">
                            <label for="cmbBranch">شعبه</label>
                            <select id="cmbBranch" class="form-control" data-validate="required" name="branchId">
                                <option value="">...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cmbActive">وضعیت</label>
                            <select id="cmbActive" class="form-control" data-validate="required" name="active">
                                <option value="">...</option>
                                <option value="true">فعال</option>
                                <option value="false">غیرفعال</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <a id="btnSave" href="#" class="btn btn-success">ذخیره</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script type="text/javascript">
        $(window).on('hashchange', function () {
            getList();
        });

        $(document).ready(function () {
            loadRemoteSelect("#cmbBranch", "/branch/getAll", null, "id", "name", "...", function () {
                getList();
            });

            $("#btnAdd").on("click", function (event) {
                event.preventDefault();

                $("#hiddenId, #txtOrder, #txtName, #cmbBranch, #cmbActive").val("");
                $("#cmbBranch").prop("disabled", false);
                $("#modalAdd").modal("show");
            });

            $("#btnSave").on("click", function (event) {
                event.preventDefault();
                if (checkForm("#modalAdd")) {
                    var entity = getEntity("#modalAdd");
                    loader(true);
                    $.ajax({
                        method: "POST",
                        url: "/dailyReport/saveBank",
                        data: entity,
                        success: function (response) {
                            if (response.status == 200) {
                                callbackAlert(response.message, function () {
                                    $("#modalAdd").modal("hide");
                                    getList();
                                });
                            }
                            else {
                                alert(response.message);
                            }
                            loader(false);
                        }
                    });
                }
            });

            $(document).on("click", ".delete", function (event) {
                event.preventDefault();
                var id = $(this).attr("data-id");
                confirmMessage("آیا از حذف بانک اطمینان دارید؟", function () {
                    loader(true);
                    $.post("/dailyReport/deleteBank/" + id, function (response) {
                        loader(false);
                        if (response.status == 200) {
                            callbackAlert(response.message, function () {
                                getList();
                            });
                        }
                        else {
                            alert(response.message);
                        }
                    })
                });
            });

            $(document).on("click", ".edit", function (event) {
                event.preventDefault();
                var id = $(this).attr("data-id");
                loader(true);
                $.get("/dailyReport/loadBank/" + id, function (response) {
                    loader(false);
                    if (response.status == 200) {
                        setEntity(response.data, "#modalAdd");
                        $("#cmbBranch").prop("disabled", true);
                        $("#modalAdd").modal("show");
                    }
                    else {
                        alert(response.message);
                    }
                });
            });

        });

        function getList() {
            var defaultEntity = {
                stoneShape: '@ViewBag.StoneShape'
            }

            loader(true);
            $.get("/dailyReport/searchBank", defaultEntity, function (response) {
                if (response.status == 200) {
                    var data = response.data;
                    var template = $.templates("#template");
                    var htmlOutput = template.render(data);
                    $("#content").html(htmlOutput);
                }
                else {
                    alert(response.message);
                }
                loader(false);
            });
        }

    </script>

    <script id="template" type="text/x-jsrender">
        <table class="table table-data table-responsive">
            <thead>
                <tr>
                    <th>ترتیب</th>
                    <th>نام بانک</th>
                    <th>شعبه</th>
                    <th>وضعیت</th>
                    <th class="icon-col text-center">ویرایش</th>
                    <th class="icon-col text-center">حذف</th>
                </tr>
            </thead>
            <tbody>
                {{for list}}
                <tr>
                    <td>{{:order}}</td>
                    <td>{{:name}}</td>
                    <td>{{:branchName}}</td>
                    <td>
                        {{if active}}
                        فعال
                        {{else}}
                        غیرفعال
                        {{/if}}
                    </td>
                    <td class="txt-al-c">
                        <button class="edit btn btn-primary btn-xs" data-title="ویرایش" data-id="{{:id}}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    </td>
                    <td class="txt-al-c">
                        <button class="delete btn btn-danger btn-xs" data-title="حذف" data-id="{{:id}}"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </td>
                </tr>
                {{/for}}
            </tbody>
        </table>
    </script>
}