
@{
    ViewBag.Title = "تنظیمات";
}

<h2>@ViewBag.Title</h2>

<br />
<br />

<a href="/dailyReport/bank" class="alert alert-success no-decoration"><span class="fa fa-building v-middle"></span>&nbsp; لیست بانک ها</a>

<a href="/dailyReport/currency" class="alert alert-success no-decoration"><span class="fa fa-dollar v-middle"></span>&nbsp; لیست ارز ها</a>
<br />
<br />
