
@{
    ViewBag.Title = "سایز سنگ";
}

<div id="content" class="table-data table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="txt-al-c">عنوان</th>
                <th class="icon-col text-center">جزئیات</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="txt-al-c">دایره</td>
                <td class="txt-al-c">
                    <a class="btn btn-primary btn-xs" href="/shapeSize/details/circle"><i class="fa fa-navicon" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td class="txt-al-c">مارکیز</td>
                <td class="txt-al-c">
                    <a class="btn btn-primary btn-xs" href="/shapeSize/details/marquise"><i class="fa fa-navicon" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td class="txt-al-c">اشک</td>
                <td class="txt-al-c">
                    <a class="btn btn-primary btn-xs" href="/shapeSize/details/tear"><i class="fa fa-navicon" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td class="txt-al-c">مثلث</td>
                <td class="txt-al-c">
                    <a class="btn btn-primary btn-xs" href="/shapeSize/details/triangle"><i class="fa fa-navicon" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td class="txt-al-c">مربع</td>
                <td class="txt-al-c">
                    <a class="btn btn-primary btn-xs" href="/shapeSize/details/square"><i class="fa fa-navicon" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td class="txt-al-c">مستطیل</td>
                <td class="txt-al-c">
                    <a class="btn btn-primary btn-xs" href="/shapeSize/details/rectangle"><i class="fa fa-navicon" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td class="txt-al-c">بیضی</td>
                <td class="txt-al-c">
                    <a class="btn btn-primary btn-xs" href="/shapeSize/details/oval"><i class="fa fa-navicon" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td class="txt-al-c">لوزی</td>
                <td class="txt-al-c">
                    <a class="btn btn-primary btn-xs" href="/shapeSize/details/diamond"><i class="fa fa-navicon" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td class="txt-al-c">سایر</td>
                <td class="txt-al-c">
                    <a class="btn btn-primary btn-xs" href="/shapeSize/details/other"><i class="fa fa-navicon" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

