<div id="form" class="container">
    <div class="row form-group">
        <div class="row">
            <div class="col-md-4 col-md-offset-2 formPayments">
                <input id="txtHiddenId" type="hidden" class="form-control" name="id" value="@ViewBag.Id">
                <input id="txtHiddenTypePayments" type="hidden" class="form-control" name="typePayments" value="4">

                <div id="parent-section" class="form-group relative">
                    <label for="txtGoldDebt">مانده بدهی طلایی</label>
                    <input id="txtGoldDebt" type="text" class="form-control" name="goldDebt" data-validate="required" dir="ltr" style="text-align:right" placeholder="گرم">
                </div>
                <div id="parent-section" class="form-group relative">
                    <label for="txtRialDebt">مانده بدهی ریالی</label>
                    <input id="txtRialDebt" type="text" class="form-control money-separator" name="rialDebt" data-validate="required" dir="ltr" style="text-align:right" placeholder="ریال">
                </div>
            </div>
            <div class="col-md-4 formPayments">
                <div id="parent-section" class="form-group relative">
                    <label for="cmbBranch">شعبه</label>
                    <select id="cmbBranch" class="form-control" name="branchId">
                        <option value="">...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtDescription">توضیحات</label>
                    <textarea id="txtDescription" type="text" rows="4" class="form-control" name="description"></textarea>
                </div>
            </div>
            <div id="details2" class="details typePayments formPayments typePayments3 typePayments4 col-md-8 col-md-offset-2">
                <table id="tlbDetails2" class="table table-data table-responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>محصول</th>
                            <th>تعداد</th>
                            <th>ارزش</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tbody> </tbody>
                </table>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btnDetails2" data-type="typePayments3">
                        <i class="fa fa-plus v-middle" aria-hidden="true"></i>&nbsp;
                        اضافه کردن جزئیات
                    </button>
                    <button type="submit" class="btn btn-success btnSave" data-type="typePayments3">
                        <i class="fa fa-floppy-o v-middle" aria-hidden="true"></i>&nbsp;
                        ذخیره
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
<table id="table2" class="table table-data table-responsive" style="display:none">
    <tbody>
        <tr>
            <td></td>
            <td>
                <datalist id="product">
                    <option value="کارت هدیه" />
                    <option value="بن خرید" />
                    <option value="بن خرید بدون ثبت نام" />
                    <option value="چرم یک دور" />
                    <option value="چرم دو دور" />
                </datalist>
                <input id="txtTitle" type="text" class="form-control" name="title" list="product" data-validate="required" autocomplete="off">
            </td>
            <td><input id="txtNumber" type="text" class="form-control money-separator" name="number" data-validate="number"></td>
            <td><input id="txtAmount" type="text" class="form-control money-separator" name="amount" data-validate="required, number" placeholder="ریال"></td>
            <td class="txt-al-c">
                <button class="delete btn btn-danger btn-xs" data-title="حذف"><i class="fa fa-times" aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
    var id = @(ViewBag.Id != null ? ViewBag.Id : 0);
    $(document).ready(function () {
        loadRemoteSelect("#cmbBranch", "/branchesPayments/getAllBranch", null, "id", "name", "...", function () {
            load();
        });
        $(document).on("click", ".delete", function (event) {
            $(this).parent().parent().remove();
        });
        $("#cmbDifferentType").on("change", function (event) {
            $("#txtDifferentType").val($(this).val());
        });
        $("#cmbGoldWage").on("change", function (event) {
            $(".typePayments1 #txtGoldWage").val($(this).val());
        });

        $(".btnDetails").on("click", function (event) {
            $("#tlbDetails tbody").append($("#table1 tbody").html());
        });
        $(".btnDetails2").on("click", function (event) {
            $("#tlbDetails2 tbody").append($("#table2 tbody").html());
        });
        $(".btnSave").on("click", function (event) {
            event.preventDefault();
            if (checkForm(".formPayments")) {
                var entity = getEntity(".formPayments:not(.details)");
                entity.branchesPaymentsDetails = new Array();
                $(".formPayments.details tr").each(function (index) {
                    var details = getEntity(".formPayments.details tr:nth-child(" + (index + 1) + ")");
                    entity.branchesPaymentsDetails.push(details);
                });
                loader(true);
                $.ajax({
                    method: "POST",
                    url: "/branchesPayments/save",
                    data: entity,
                    success: function (response) {
                        if (response.status == 200) {
                            callbackAlert(response.message, function () {
                                document.location = "/branchesPayments/differentSale";
                            });
                        }
                        else {
                            alert(response.message);
                        }
                        loader(false);
                    }
                });
            }
        });

    });
    function load() {
        if (id > 0) {
            $("#btnSave").slideUp();
            loader(true);
            $.get("/branchesPayments/load/" + id, function (response) {
                if (response.status == 200) {
                    $(".typePayments" + response.data.typePayments).addClass("formPayments");
                    $(".typePayments" + response.data.typePayments).slideDown();
                    setEntity(response.data, ".formPayments");
                    var template = $.templates("#template2");
                    var htmlOutput = template.render(response.data);
                    $("#tlbDetails2 tbody").html(htmlOutput);
                }
                else {
                    alert(response.message);
                }
                loader(false);
            });
        }
    }
    </script>
    <script id="template2" type="text/x-jsrender">
        {{for branchesPaymentsDetails}}
        <tr>
            <td></td>
            <td>
                <datalist id="product">
                    <option value="کارت هدیه" />
                    <option value="بن خرید" />
                    <option value="بن خرید بدون ثبت نام" />
                    <option value="چرم یک دور" />
                    <option value="چرم دو دور" />
                </datalist>
                <input id="txtTitle" value="{{:title}}" type="text" class="form-control" name="title" list="product" data-validate="required" autocomplete="off">
            </td>
            <td><input id="txtNumber" value="{{:number}}" type="text" class="form-control money-separator" name="number" data-validate="number"></td>
            <td><input id="txtAmount" value="{{:amount}}" type="text" class="form-control money-separator" name="amount" data-validate="required, number"></td>
            <td class="txt-al-c">
                <button class="delete btn btn-danger btn-xs" data-title="حذف"><i class="fa fa-times" aria-hidden="true"></i></button>
            </td>
        </tr>
        {{/for}}
    </script>
}