
@{
    ViewBag.Title = "مدیریت سنگ";
}

<div id="control-section">
    <a href="/stone/add" class="btn btn-primary">
        <i class="fa fa-plus v-middle" aria-hidden="true"></i>&nbsp;
        <span>جدید</span>
    </a>
</div>

<br />
<div id="control-section" class="form-inline">
    <input id="txtTerm" type="text" name="term" class="form-control" />

    <input id="btnSearch" type="button" value="جستجو" class="btn btn-primary" />
</div>

<div id="content" class="table-data table-responsive">

</div>


@section scripts {
    <script type="text/javascript">
        $(window).on('hashchange', function () {
            getList();
        });

        $(document).ready(function () {
            getList();

            $(document).on("click", ".delete", function (event) {
                event.preventDefault();
                var id = $(this).attr("data-id");
                confirmMessage("آیا از حذف سنگ اطمینان دارید؟", function () {
                    loader(true);
                    $.post("/stone/delete/" + id, function (response) {
                        loader(false);
                        if (response.status == 200) {
                            callbackAlert(response.message, function () {
                                getList();
                            });
                        }
                        else {
                            alert(response.message);
                        }
                    })
                });
            });

            $(document).on("click", "#btnSearch", function (event) {
                event.preventDefault();
                manipulateParam({ term: $("#txtTerm").val() }, "page");
            });

            $("#txtTerm").on("keyup", function (e) {
                var code = e.which;
                if (code == 13) e.preventDefault();
                if (code == 13) {
                    if ($("#txtTerm").val()) {
                        var param = { term: $("#txtTerm").val() }
                        manipulateParam(param, "page");
                    }
                    else
                        removeParam("term");
                }
            });

            $(document).on("click", ".active", function (event) {
                loader(true);
                var id = $(this).attr("data-id");
                $.post("/stone/active/" + id, function (response) {
                    loader(false);
                    if (response.status == 200) {
                        getList();
                    }
                    else {
                        alert(response.message);
                    }
                });
            });

            $(document).on("click", ".inactive", function (event) {
                loader(true);
                var id = $(this).attr("data-id");
                $.post("/stone/inactive/" + id, function (response) {
                    loader(false);
                    if (response.status == 200) {
                        getList();
                    }
                    else {
                        alert(response.message);
                    }
                });
            });

        });

        function getList() {
            updateForm();

            var defaultEntity = {
                page: 0,
                count: 200,
                term: null
            }

            var newParams = getParam();
            var params = $.extend(defaultEntity, newParams);

            if (params["term"]) {
                $("#txtTerm").val(params["term"]);
            }

            loader(true);
            $.get("/stone/search", params, function (response) {
                if (response.status == 200) {
                    var data = response.data;
                    var template = $.templates("#template");
                    var htmlOutput = template.render(data);
                    $("#content").html(htmlOutput);
                }
                else {
                    alert(response.message);
                }
                loader(false);
            });
        }

        function updateForm() {
            var params = getParam();

            // term
            if (params["term"]) {
                $("#txtTerm").val(params["term"]);
            }
            else {
                $("#txtTerm").val("");
            }
        }
    </script>

    <script id="template" type="text/x-jsrender">
        <table class="table">
            <thead>
                <tr>
                    <th>نام</th>
                    <th class="hidden-xs">نوع سنگ</th>
                    <th class="hidden-xs">تصویر</th>
                    <th class="txt-al-c">ترتیب</th>
                    <th class="hidden-xs hidden-sm">وضعیت</th>
                    <th class="icon-col text-center">ویرایش</th>
                    <th class="icon-col text-center">حذف</th>
                </tr>
            </thead>
            <tbody>
                {{for list}}
                <tr>
                    <td>{{:name}}</td>
                    <td class="hidden-xs">{{:stoneTypeTitle}}</td>
                    <td class="hidden-xs"><img src="/image/stone/50x50/{{:fileName}}" style="height: 35px;" /></td>
                    <td class="txt-al-c">{{:order}}</td>
                    <td class="hidden-xs hidden-sm">
                        {{if active}}
                        <i class="fa fa-check green pointer inactive" data-id="{{:id}}" aria-hidden="true"></i>
                        فعال
                        {{else}}
                        <i class="fa fa-times red pointer active" data-id="{{:id}}" aria-hidden="true"></i>
                        غیرفعال
                        {{/if}}
                    </td>
                    <td class="txt-al-c">
                        <a href="/stone/edit/{{:id}}" class="btn btn-primary btn-xs" data-title="ویرایش"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                    <td class="txt-al-c">
                        <button class="delete btn btn-danger btn-xs" data-title="حذف" data-id="{{:id}}"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </td>
                </tr>
                {{/for}}
            </tbody>
        </table>
        <div class="clearfix"></div>
        @Html.Partial("_Pagination")
    </script>
}