
@{
    ViewBag.Title = "تقویم";
}

<style type="text/css">
    table * {
        font-family: 'IRANSans(FaNum)';
    }

    thead th {
        width: 14%;
    }

        thead th div {
            padding: 6px 10px;
            margin: 7px 3px 0px 3px;
            border-radius: 4px;
            text-align: center;
            color: white;
        }

    .spring {
        background-color: #66BB6A;
    }

    .summer {
        background-color: #ef5350;
    }

    .autumn {
        background-color: #FF9800;
    }

    .winter {
        background-color: #00ACC1;
    }

    tbody td {
        height: 100px;
        vertical-align: top;
    }

    .day .day-card {
        margin: 7px 3px 0px 3px;
        background-color: #CFD8DC !important;
        height: 100%;
        overflow: hidden;
    }

        .day .day-card .header {
            display: block;
            padding: 3px 7px;
        }

        .day .day-card .count {
            padding: 3px 7px;
            line-height: 22px;
        }

    tbody td .header {
        background-color: #e57373;
    }

    #modal-branch input[type=checkbox] {
        vertical-align: middle;
        margin: 0 0 0 10px;
    }

    .gap-day .day-card {
        margin: 7px 3px 0px 3px;
        background-color: #CFD8DC !important;
        height: 100%;
        overflow: hidden;
        opacity: 0.5;
    }

        .gap-day .day-card .header {
            display: block;
            background-color: #78909C !important;
            padding: 3px 7px;
        }

        .gap-day .day-card .count {
            padding: 3px 7px;
        }


    .today .day-card .header {
        background-color: #9CCC65;
    }

    .day.calendar .day-card .header {
        background-color: #78909C !important;
    }

    .day.success .day-card .header {
        background-color: #9CCC65 !important;
    }

    .day.draft .day-card .header {
        background-color: #FFF59D !important;
    }

    .header .edit {
        float: left;
        font-size: 17px;
        vertical-align: middle;
        cursor: pointer;
        display: none;
    }

    .header .pdf {
        float: left;
        vertical-align: middle;
        cursor: pointer;
        float: left;
        padding: 2px 7px;
        font-size: 14px;
    }

    .hide {
        display: none;
    }

    .day.calendar.today .day-card .header {
        background-color: #03A9F4 !important;
    }

    .day.today .day-card {
        background-color: #81D4FA !important;
    }

    .fa-edit {
        color: white;
        font-size: 18px;
    }

    .fa-download {
        color: black;
        font-size: 18px;
    }
</style>

<div class="container">
    <h3 class="no-margin">تقویم</h3>
    <br />
    <div>
        <label>
            سال:
            <select id="cmbYear" class="form-control" style="width: 120px;">
                @foreach (int item in ViewBag.YearList)
                {
                    if (item == ViewBag.Year)
                    {
                        <option value="@item" selected>@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </label>

        <label>
            ماه:
            <select id="cmbMonth" class="form-control" style="width: 120px;">
                <option value="1">فروردین</option>
                <option value="2">اردیبهشت</option>
                <option value="3">خرداد</option>
                <option value="4">تیر</option>
                <option value="5">مرداد</option>
                <option value="6">شهریور</option>
                <option value="7">مهر</option>
                <option value="8">آبان</option>
                <option value="9">آذر</option>
                <option value="10">دی</option>
                <option value="11">بهمن</option>
                <option value="12">اسفند</option>
            </select>
        </label>
    </div>
    <table style="width: 100%">
        <thead>
            <tr>
                <th><div>شنـبـه</div></th>
                <th><div>یک شنـبـه</div></th>
                <th><div>دو شنـبـه</div></th>
                <th><div>سه شنـبـه</div></th>
                <th><div>چهار شنـبـه</div></th>
                <th><div>پنج شنـبـه</div></th>
                <th><div>جمـعـه</div></th>
            </tr>
        </thead>
        <tbody id="days" class="table-body"></tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        var weekdaysGap = [6, 0, 1, 2, 3, 4, 5];

        $(document).ready(function () {
            ReturnDataValue()
            var date = new persianDate();

            var params = getParam();

            $("#cmbMonth").on("change", function () {
                setParam("month", $(this).val());

                switch (parseInt($(this).val())) {
                    case 1:
                    case 2:
                    case 3:
                        $("thead th div").removeClass("summer").removeClass("autumn").removeClass("winter");
                        $("thead th div").addClass("spring");
                        break;
                    case 4:
                    case 5:
                    case 6:
                        $("thead th div").removeClass("spring").removeClass("autumn").removeClass("winter");
                        $("thead th div").addClass("summer");
                        break;
                    case 7:
                    case 8:
                    case 9:
                        $("thead th div").removeClass("spring").removeClass("summer").removeClass("winter");
                        $("thead th div").addClass("autumn");
                        break;
                    case 10:
                    case 11:
                    case 12:
                        $("thead th div").removeClass("spring").removeClass("summer").removeClass("autumn");
                        $("thead th div").addClass("winter");
                        break;
                }

                draw();
            });

            $("#cmbYear").on("change", function () {
                setParam("year", $(this).val());
                draw();
            });


            if (params.year)
                $("#cmbYear").val(params.year);
            else
                $("#cmbYear").val(date.pDate.year);

            if (params.month)
                $("#cmbMonth").val(params.month).change();
            else
                $("#cmbMonth").val(date.pDate.month).change();

            $(document).on("click", ".edit", function () {
                var date = $(this).closest(".day").attr("data-date");
                date = date.replaceAll("/", "-")
                document.location.href = "/dailyReport/report/" + date;
            });

            $(document).on("click", ".pdf", function () {
                var date = $(this).closest(".day").attr("data-date");
                date = date.replaceAll("/", "-")
                window.open("/inventoryReportMember/PrintReport/" + date, '_blank');
            });
        });


        function draw() {
            var year = parseInt($("#cmbYear").val());
            var month = parseInt($("#cmbMonth").val());

            var date = new persianDate([year, month, 1]);

            var days = [];

            for (var i = 0; i < weekdaysGap[date.pDate.weekDayNumber]; i++) {
                days.push("<td class=\"gap-day\"><div class='day-card'> <span class='header'>&nbsp;</span></div ></td>");
            }
            month = month < 10 ? "0" + month : month;
            for (var i = 1; i <= getMonthDay(year, month); i++) {
                var day = i < 10 ? "0" + i : i;
                if (isToday(year, month, i)) {
                    days.push("<td class=\"day today\" data-date=\"" + year + "/" + month + "/" + day + "\" data-day=\"" + i + "\"><div class='day-card'><span class='header'>" + day + "<span><a class='edit' href=\" /inventoryReportMember/reportDaily/" + year + "-" + month + "-" + day + " \"><i class='fa fa-edit' data-toggle='tooltip' data-placement='top' title='ویرایش'></i></a></span><span class='pdf hide' data-date=\"" + year + "/" + month + "/" + day + "\"><i class='fa fa-download' data-toggle='tooltip' data-placement='top' title='دانلود'></i></span><span class='count block small-font'></span></div></td>");
                }
                else {
                    days.push("<td class=\"day\"  data-date=\"" + year + "/" + month + "/" + day + "\"  data-day=\"" + i + "\"><div class='day-card'><span class='header'>" + day + "<span><a class='edit' href=\" /inventoryReportMember/reportDaily/" + year + "-" + month + "-" + day + " \" ><i class='fa fa-edit' data-toggle='tooltip' data-placement='top' title='ویرایش'></i></a></span><span class='pdf hide' data-date=\"" + year + "/" + month + "/" + day + "\"><i class='fa fa-download' data-toggle='tooltip' data-placement='top' title='دانلود'></i></span> <span class='count block small-font'></span></div></td>");
                }
            }

            var str = "<tr>";
            var len = days.length;
            if (days.length % 7 != 0) // ساخت مقدار های اضافه برای وقتی که ستون های جدول کمتر از تعداد رند باشد
                len += 7 - days.length % 7;

            for (var i = 0; i < len; i++) {
                if (days[i])
                    str += days[i];
                else
                    str += "<td class=\"gap-day\"><div class='day-card'> <span class='header'>&nbsp;</span></div ></td>";

                if ((i + 1) % 7 == 0) {
                    str += "</tr>";
                    if (i < days.length) {
                        str += "<tr>";
                    }
                }
            }

            $("#days").html(str);
            $('[data-toggle="tooltip"]').tooltip();
            if ($("td[data-date].today").length > 0) {
                var today = $("td[data-date].today").attr("data-day");
                for (var i = today; i > today - 7; i--) {
                    $("td[data-day=" + i + "]").find(".edit").show();
                }
            }
            //ReturnDataValue();
            //getList();
        }

        function getMonthDay(year, month) {
            if (month <= 6) {
                return 31;
            }
            else if (month < 12) {
                return 30;
            }
            else {
                if (isLeapYear(parseInt(year)))
                    return 30;
                else
                    return 29;
            }
        }

        function isLeapYear(year) {
            var a = 0, b = 1309, c = parseInt(year);
            for (var i = 1309; i <= c - 4; i += 4) {
                b += 4;
                a += 1;
                if (a % 8 === 0)
                    b++;
            }

            if (c === b) {
                return true;
            }
            else {
                return false;
            }
        }

        function isToday(year, month, day) {
            var date = new persianDate().pDate;
            return date.year == year && date.month == month && date.date == day;
        }

        function ReturnDataValue() {
            var date = new persianDate().pDate;
            var pdate = date.year + "/" + date.month + "/" + date.date
            $.get('/inventoryReportMember/returnDataValue/', { date: pdate }, function (response) {
                loader(false);
                if (response.status == 200) {
                    for (var i = 0; i < response.data.list.length; i++) {
                        var item = response.data.list[i];
                        $(".pdf").each(function (index, element) {
                            if ($(element).attr("data-date") == item.persianDate) {
                                $(this).removeClass("hide")
                            }
                        })
                    }
                }
            });

        }        
    </script>
}

