@{
    ViewBag.Title = "EditCategory";
}
<style>
    #btnSave {
        background-color: #e57373;
        transition: all 500ms ease;
    }

        #btnSave:hover {
            background-color: red;
            color: white;
        }
</style>
<div class="container ">
    <form>
        <div id="form">
            <input type="hidden" name="id" />
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <label for="txtOrder">ترتیب </label>
                        <input id="txtOrder" class="form-control" name="order" placeholder="ترتیب " required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <label for="txtTitle">عنوان </label>
                        <input id="txtTitle" class="form-control" name="title" placeholder="عنوان " data-validate="required" />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <label for="cmbStatus">وضعیت</label>
                    <select id="cmbStatus" class="form-control" name="active" data-validate="required">
                        <option value="true">فعال</option>
                        <option value="false">غیرفعال</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4 text-center">
            <button class="btn" type="submit" id="btnSave" style="">ثبت </button>
        </div>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        var id = @(ViewBag.Id != null ? ViewBag.Id : 0);

        $(document).ready(function () {
            load();

            $("#btnSave").on("click", function (event) {
                event.preventDefault();
                if (checkForm("#form")) {
                    var entity = getEntity("#form");
                    loader(true);
                    $.ajax({
                        method: "POST",
                        url: "/inventoryReportMember/saveCategory",
                        data: entity,
                        success: function (response) {
                            if (response.status == 200) {
                                callbackAlert(response.message, function () {
                                    document.location = "/inventoryReportMember/listDailyInventory/";
                                });
                            }
                            else {
                                alert(response.message);
                            }
                            loader(false);
                        }
                    });
                }
            });
        });

        function load() {
            if (id > 0) {
                loader(true);
                $.get("/inventoryReportMember/loadDailyInventory/" + id, function (response) {
                    if (response.status == 200) {
                        console.log(id);

                        setEntity(response.data, "#form");
                    }
                    else {
                        alert(response.message);
                    }
                    loader(false);
                });
            }
        }

    </script>
}