<div>
    <table class="table table-bordered" style="width: 100%; background-color: #333; color: white; margin-top: 15px;">
        <tr>
            <td>تعداد کل</td>
            <td><strong>{{:sumCount}}</strong></td>
            <td class="nowrap"><strong>{{:sumWeight}} گرم</strong></td>
        </tr>
        <tr>
            <td>ثبت شده</td>
            <td><strong>{{:registered}}</strong></td>
            <td class="nowrap"><strong>{{:registeredWeight}} گرم</strong></td>
        </tr>
        <tr>
            <td>ارسال شده به کارگاه</td>
            <td><strong>{{:inWorkshop}}</strong></td>
            <td class="nowrap"><strong>{{:inWorkshopWeight}} گرم</strong></td>
        </tr>
        <tr>
            <td>در حال ساخت</td>
            <td><strong>{{:underConstruction}}</strong></td>
            <td class="nowrap"><strong>{{:underConstructionWeight}} گرم</strong></td>
        </tr>
        <tr>
            <td>اتمام ساخت</td>
            <td><strong>{{:outOfConstruction}}</strong></td>
            <td class="nowrap"><strong>{{:outOfConstructionWeight}} گرم</strong></td>
        </tr>
        <tr>
            <td>ارسال شده به کارگاه دوم</td>
            <td><strong>{{:inWorkshop2}}</strong></td>
            <td class="nowrap"><strong>{{:inWorkshopWeight2}} گرم</strong></td>
        </tr>
        <tr>
            <td>در حال ساخت در کارگاه دوم</td>
            <td><strong>{{:underConstruction2}}</strong></td>
            <td class="nowrap"><strong>{{:underConstructionWeight2}} گرم</strong></td>
        </tr>
        <tr>
            <td>اتمام ساخت در کارگاه دوم</td>
            <td><strong>{{:outOfConstruction2}}</strong></td>
            <td class="nowrap"><strong>{{:outOfConstructionWeight2}} گرم</strong></td>
        </tr>
        <tr>
            <td>در حال آماده سازی</td>
            <td><strong>{{:inPreparation}}</strong></td>
            <td class="nowrap"><strong>{{:inPreparationWeight}} گرم</strong></td>
        </tr>
        <tr>
            <td>آماده تحویل</td>
            <td><strong>{{:readyForDelivery}}</strong></td>
            <td class="nowrap"><strong>{{:readyForDeliveryWeight}} گرم</strong></td>
        </tr>
        <tr>
            <td>ارسال شده</td>
            <td><strong>{{:sent}}</strong></td>
            <td class="nowrap"><strong>{{:sentWeight}} گرم</strong></td>
        </tr>
        <tr>
            <td>کسری</td>
            <td><strong>{{:shortage}}</strong></td>
            <td class="nowrap"><strong>{{:shortageWeight}} گرم</strong></td>
        </tr>
        <tr>
            <td>سفارش مجدد</td>
            <td><strong>{{:shortageOrder}}</strong></td>
            <td class="nowrap"><strong>{{:shortageOrderWeight}} گرم</strong></td>
        </tr>
        <tr>
            <td>لغو شده</td>
            <td><strong>{{:cancel}}</strong></td>
            <td class="nowrap"><strong>{{:cancelWeight}} گرم</strong></td>
        </tr>
    </table>
</div>