@{
    var product = (KiaGallery.Model.Context.Product)Model.product;
}
<div>
    <div class='txt-al-r' style='padding: 10px 3px 3px 0;'>
        <h6 class='bold'>@product.Title</h6>
        <h6>کد: @product.Code</h6>
        <h6>کد کارگاه: @product.BookCode</h6>
        <h6>وزن: @product.Weight~</h6>
    </div>
</div>

