<div><label><input id="allStatus" type="checkbox" checked />همه</label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="0" checked />ثبت شده <sub id="registeredWeight">({{:registeredWeight}} گرم)</sub></label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="1" checked />ارسال شده به کارگاه <sub id="inWorkshopWeight">({{:inWorkshopWeight}} گرم)</sub></label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="2" checked />در حال ساخت <sub id="underConstructionWeight">({{:underConstructionWeight}} گرم)</sub></label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="3" checked />اتمام ساخت <sub id="outOfConstructionWeight">({{:outOfConstructionWeight}} گرم)</sub></label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="10" checked />ارسال شده به کارگاه دوم/مونتاژ <sub id="inWorkshopWeight2">({{:inWorkshopWeight2}} گرم)</sub></label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="11" checked />در حال ساخت در کارگاه دوم/مونتاژ <sub id="underConstructionWeight2">({{:underConstructionWeight2}} گرم)</sub></label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="12" checked />اتمام ساخت در کارگاه دوم/مونتاژ <sub id="outOfConstructionWeight2">({{:outOfConstructionWeight2}} گرم)</sub></label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="4" checked />در حال آماده سازی <sub id="inPreparationWeight">({{:inPreparationWeight}} گرم)</sub></label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="5" checked />آماده تحویل <sub id="readyForDeliveryWeight">({{:readyForDeliveryWeight}} گرم)</sub></label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="6" checked />ارسال شده <sub id="sentWeight">({{:sentWeight}} گرم)</sub></label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="7" checked />کسری <sub id="shortageWeight">({{:shortageWeight}} گرم)</sub></label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="8" checked />سفارش مجدد <sub id="shortageOrderWeight">({{:shortageOrderWeight}} گرم)</sub></label></div>
<div><label><input class="status" type="checkbox" name="statusList" value="9" checked />لغو شده <sub id="cancelWeight">({{:cancelWeight}} گرم)</sub></label></div>

