@{
    ViewBag.Title = "دانلود فایل";
}

<style type="text/css">
    .file {
        text-align: left;
        direction: ltr;
        border: solid 1px silver;
        padding: 4px;
        margin: 4px 0;
    }

    .m-file-icon {
        width: 25px;
        display: inline-block;
        text-align: center;
        color: #00796b;
        font-size: 15px;
    }

    #contentFileDetail table td {
        border: none;
    }
</style>

<div class="container">
    <div>
        <input id="txtSearchDate" type="text" placeholder="تاریخ" class="form-control date" style="width: 200px; display: inline-block;" autocomplete="off" />

        <button id="btnSearch" class="btn btn-primary">جستجو</button>
    </div>
    <div id="content">

    </div>
</div>

<div id="fileDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-height: 90%;overflow-y: scroll;">
        <div class="modal-content">
            <div class="modal-body">
                <div id="contentFileDetail">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-password btn-control" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>

<div id="descriptionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <input id="hiddenEditId" type="hidden" />
                <textarea id="txtEditDescription" class="form-control" style="resize: vertical; margin-top: 10px;" placeholder="توضیحات" readonly rows="7"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger  btn-control" data-dismiss="modal">لغو</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var defaultEntity = {
            page: 0,
            count: 20
        }

        $(window).on('hashchange', function () {
            getList();
        });

        $(document).ready(function () {
            getList();

            $(".date").pDatepicker({
                format: 'YYYY/MM/DD',
                autoClose: true
            });

            $("#btnSearch").on("click", function (e) {
                e.preventDefault();

                var param = { date: $("#txtSearchDate").val() }
                manipulateParam(param, "page");

                getList();
            });

            $(document).on("click", ".download", function () {
                var id = $(this).attr("data-id");
                loader(true);
                $.get("/marquisFile/getBranchDetailFiles/" + id, {}, function (response) {
                    if (response.status == 200) {
                        var data = response.data;
                        var template = $.templates("#templateFileDetail");
                        var htmlOutput = template.render(data);
                        $("#contentFileDetail").html(htmlOutput);
                        $("#fileDetailModal").modal("show");
                    }
                    else {
                        alert(response.message);
                    }
                    loader(false);
                });
            });

            $(document).on("click", ".description", function () {
                var id = $(this).attr("data-id");
                var description = $(this).attr("data-description");

                $("#hiddenEditId").val(id);
                $("#txtEditDescription").val(description);
                $("#descriptionModal").modal("show");
            });

        });

        function getList() {
            var newParams = getParam();
            var params = $.extend({}, defaultEntity, newParams);
            params.date = $("#txtSearchDate").val();

            if (params.branchId)
                $("#cmbSearchBranch").val(params.branchId)
            else
                $("#cmbSearchBranch option:first").val()

            loader(true);
            $.get("/marquisFile/getBranchFiles", params, function (response) {
                if (response.status == 200) {
                    var data = response.data;
                    var template = $.templates("#template");
                    var htmlOutput = template.render(data);
                    $("#content").html(htmlOutput);
                }
                else {
                    alert(response.message);
                }
                loader(false);
            });
        }

    </script>

    <script id="template" type="text/x-jsrender">
        {{if list.length > 0}}
        <table class="table table-data table-responsive">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th class="txt-al-c">تاریخ</th>
                    <th>تعداد فایل</th>
                    <th>توضیحات</th>
                    <th class="icon-col text-center">عملیات</th>
                </tr>
            </thead>
            <tbody>
                {{for list}}
                <tr>
                    <td>{{:#index + 1}}</td>
                    <td class="ltr txt-al-c">{{:persianDate}}</td>
                    <td>{{:fileCount}}</td>
                    <td><span class="description pointer" data-id="{{:id}}" data-description="{{:description}}">{{:description == null ? '-' : description.substr(0, 50)}}</span></td>
                    <td class="txt-al-c">
                        <button class="download btn btn-primary btn-xs" data-title="دانلود" data-id="{{:id}}"><i class="fa fa-download" aria-hidden="true"></i></button>
                    </td>
                </tr>
                {{/for}}
            </tbody>
        </table>
        <div class="clearfix"></div>
        @Html.Partial("_Pagination")
        {{else}}
        <h4 style="margin-top: 50px;" class="txt-al-c">در تاریخ مورد نظر فایل یافت نشد.</h4>
        {{/if}}
    </script>

    <script id="templateFileDetail" type="text/x-jsrender">
        <table class="table table-data table-responsive">
            <thead>
                <tr>
                    <th class="txt-al-c">نام فایل</th>
                    <th class="icon-col text-center">دانلود</th>
                </tr>
            </thead>
            <tbody>
                {{for list}}
                <tr>
                    <td class="ltr txt-al-l">
                        <div>
                            {{if fileName.substring(0, 3).toLowerCase() == "img"}}
                            <span class="m-file-icon"><i class="fa fa-image"></i></span>
                            {{/if}}
                            {{if fileName.substring(0, 2).toLowerCase() == "dt"}}
                            <span class="m-file-icon"><i class="fa fa-file"></i></span>
                            {{/if}}
                            <span class="inline-block">
                                {{:fileName}}
                            </span>
                        </div>
                    </td>
                    <td class="txt-al-c" style="margin-right: 20px;">
                        <a href="/marquisFile/download/file/{{:fileId}}/{{:fileName}}"><i class="fa fa-download" aria-hidden="true"></i></a>
                    </td>
                </tr>
                {{/for}}
            </tbody>
        </table>
    </script>
}