<div id="form" class="container">
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label>گذرواژه فعلی</label>
                <input id="txtOldPassword" type="password" class="form-control" name="oldPassword" />
            </div>
            <div class="form-group">
                <input id="hiddenId" type="hidden" />
                <label>گذرواژه جدید</label>
                <input id="txtNewPassword" type="password" class="form-control" name="newPassword" />
            </div>
            <div class="form-group">
                <label>تکرار گذرواژه</label>
                <input id="txtConfirmNewPassword" type="password" class="form-control" name="confirmNewPassword"/>
            </div>
            <div class="form-group">
                <button id="btnSave" type="submit" class="btn btn-success">
                    <i class="fa fa-floppy-o v-middle" aria-hidden="true"></i>&nbsp;
                    ذخیره
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSave").on("click", function (event) {
                event.preventDefault();
                if (checkForm("#form")) {
                    var entity = getEntity("#form");
                    loader(true);
                    $.ajax({
                        method: "POST",
                        url: "/account/changePassword",
                        data: entity,
                        success: function (response) {
                            alert(response.message);
                            loader(false);
                        }
                    });
                }
            });
        });
    </script>
}