<div id="form" class="container">
    <div class="row form-group">

        <div class="row">
            <div id="step1" class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="txtTitle">عنوان</label>
                    <input id="txtTitle" type="text" class="form-control" name="title" maxlength="50" data-validate="required, maxLength(50)">
                    <input id="hiddenId" type="hidden" value="" name="id" />
                </div>
                <div class="form-group">
                    <label for="txtDefaultValue">مقدار پیشفرض</label>
                    <input id="txtDefaultValue" type="text" class="form-control" name="defaultValue" maxlength="50" data-validate="required, maxLength(50)">
                </div>
                <div class="form-group">
                    <button id="btnSave" type="submit" class="btn btn-success">
                        <i class="fa fa-floppy-o v-middle" aria-hidden="true"></i>&nbsp;
                        ذخیره
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    var id = @(ViewBag.Id != null ? ViewBag.Id : 0);

    $(document).ready(function () {

        load();

        $("#btnSave").on("click", function (event) {
            event.preventDefault();
            if (checkForm("#form")) {
                var entity = getEntity("#form");
                loader(true);
                $.ajax({
                    method: "POST",
                    url: "/size/save",
                    data: entity,
                    success: function (response) {
                        if (response.status == 200) {
                            callbackAlert(response.message, function () {
                                document.location = "/size";
                            });
                        }
                        else {
                            alert(response.message);
                        }
                        loader(false);
                    }
                });
            }
        });
    });

    function load() {
        if (id > 0) {
            loader(true);
            $.get("/size/load/" + id, function (response) {
                if (response.status == 200) {
                    setEntity(response.data, "#form");
                }
                else {
                    alert(response.message);
                }
                loader(false);
            });
        }
    }

    </script>
}