
@{
    ViewBag.Title = "مدیریت سایز";
}

<div id="control-section">
    <a href="/size/add" class="btn btn-primary">
        <i class="fa fa-plus v-middle" aria-hidden="true"></i>&nbsp;
        <span>جدید</span>
    </a>
</div>

<div id="content" class="table-data table-responsive">

</div>


@section scripts {
    <script type="text/javascript">
        var defaultEntity = {
            page: 0,
            count: 50
        }

        $(window).on('hashchange', function () {
            getList();
        });

        $(document).ready(function () {
            getList();

            $(document).on("click", ".delete", function (event) {
                event.preventDefault();
                var id = $(this).attr("data-id");
                confirmMessage("آیا از حذف سایز اطمینان دارید؟", function () {
                    loader(true);
                    $.post("/size/delete/" + id, function (response) {
                        loader(false);
                        if (response.status == 200) {
                            callbackAlert(response.message, function () {
                                getList();
                            });
                        }
                        else {
                            alert(response.message);
                        }
                    })
                });
            });
        });

        function getList() {
            var newParams = getParam();
            var params = $.extend(defaultEntity, newParams);

            loader(true);
            $.get("/size/search", params, function (response) {
                if (response.status == 200) {
                    var data = response.data;
                    var template = $.templates("#template");
                    var htmlOutput = template.render(data);
                    $("#content").html(htmlOutput);
                }
                else {
                    alert(response.message);
                }
                loader(false);
            });
        }

    </script>

    <script id="template" type="text/x-jsrender">
        <table class="table">
            <thead>
                <tr>
                    <th>نام</th>
                    <th class="hidden-xs">مقدار پیشفرض</th>
                    <th class="icon-col text-center">مقادیر</th>
                    <th class="icon-col text-center">ویرایش</th>
                    <th class="icon-col text-center">حذف</th>
                </tr>
            </thead>
            <tbody>
                {{for list}}
                <tr>
                    <td>{{:title}}</td>
                    <td class="hidden-xs">{{:defaultValue}}</td>
                    <td class="txt-al-c">
                        <a href="/size/value/{{:id}}" class="btn btn-success btn-xs" data-title="مقادیر"><i class="fa fa-expand" aria-hidden="true"></i></a>
                    </td>
                    <td class="txt-al-c">
                        <a href="/size/edit/{{:id}}" class="btn btn-primary btn-xs" data-title="ویرایش"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td>
                    <td class="txt-al-c">
                        <button class="delete btn btn-danger btn-xs" data-title="حذف" data-id="{{:id}}"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </td>
                </tr>
                {{/for}}
            </tbody>
        </table>
        <div class="clearfix"></div>
        @Html.Partial("_Pagination")
    </script>
}