
@{
    ViewBag.Title = "گیفت های منقضی";
}

<h2>گیفت های منقضی</h2>
<div class="col-md-2">
    <div class="form-group">
        <label for="cmbBranch">شعبه</label>
        <select id="cmbBranch" class="form-control" name="branchId">
            <option value="">شعبه</option>
            @foreach (KiaGallery.Model.Context.Branch item in ViewBag.branchList)
            {
                <option value="@item.Id">@item.Name </option>
            }
        </select>
    </div>
    <div>
        تعداد:
        <span class="count deleteHtml"></span>
    </div>
</div>
<div id="content"></div>

@section scripts {

    <script type="text/javascript">
        var defaultEntity = {
            page: 0,
            count: 100,
        }
        $(window).on('hashchange', function () {
            getList();
        });
        $(document).ready(function () {
            getList()
            $(document).on("change", "#cmbBranch", function (event) {
                event.preventDefault();
                var param = { branchId: $(this).val() }
                manipulateParam(param, "page");
            });
        });
        function getList() {
            var newParams = getParam();
            var params = $.extend({}, defaultEntity, newParams);
            updateForm();
            loader(true);
            $.get("/gift/getExpiredGift", params, function (response) {
                if (response.status == 200) {
                    var data = response.data;
                    $(".count").html(data.count);
                    var template = $.templates("#template");
                    var htmlOutput = template.render(data);
                    $("#content").html(htmlOutput);
                }
                else {
                    alert(response.message);
                }
                loader(false);
            });
        }
        function updateForm() {
            var params = getParam();
            // branch
            if (params["branchId"]) {
                $("#cmbBranch").val(params["branchId"]);
            }
            else {
                $("#cmbBranch").val("");
            }
        }
    </script>
    <script id="template" type="text/x-jsrender">
        {{if list.length > 0}}
        <table class="table table-data table-responsive">
            <thead>
                <tr>
                    <th>کد</th>
                    <th>شعبه دریافت کننده گیفت از مشتری</th>
                    <th>نوع</th>
                    @*<th>اعتبار</th>*@
                    <th>نام مشتری خریدکننده</th>
                    <th>تلفن مشتری خریدکننده</th>
                    <th>نام مشتری باطل کننده</th>
                    <th>تلفن مشتری باطل کننده</th>
                    <th>شماره فاکتور</th>
                    <th>مبلغ فاکتور</th>
                </tr>
            </thead>
            <tbody>
                {{for list}}
                <tr class="{{if valueToSeparator == "5,000,000"}}bg-gold{{/if}}{{if valueToSeparator == "2,000,000"}}bg-crimson{{/if}}{{if valueToSeparator == "1,000,000" && giftType == "0"}}bg-white{{/if}}{{if giftType == "1"}}bg-green{{/if}}{{if giftType == "2"}}bg-green2{{/if}}">

                    <td>{{:code}}</td>
                    <td>{{:branchReceiver}}</td>

                    <td>{{:giftTypeTitle}}</td>
                    {{if valueToSeparator == 5}}
                    <td>{{:valueToSeparator}}%</td>
                    {{else}}
                    @*<td>{{:valueToSeparator}} ریال</td>*@
                    {{/if}}
                    <td><span>{{:buyerCustomerName}}</span></td>
                    <td><span>{{:buyerCustomerPhoneNumber}}</span></td>
                    <td><span>{{:revocationCustomerName}}</span></td>
                    <td><span>{{:revocationCustomerPhoneNumber}}</span></td>
                    <td>
                        {{if factorNumber == null || factorNumber == 0 }}
                        <i class="fa fa-close" style="color:#d9534f"></i>

                        {{else}}
                        {{:factorNumber}}
                        {{/if}}
                    </td>
                    <td>
                        {{if factorPrice == null || factorPrice == 0 }}
                        <i class="fa fa-close" style="color:#d9534f"></i>
                        {{else}}
                        {{:factorPrice}}
                        {{/if}}
                    </td>
                </tr>
                {{/for}}
            </tbody>
        </table>
        {{else}}
        <h4 class="txt-al-c">موردی یافت نشد</h4>
        {{/if}}
        <div class="clearfix"></div>
        @Html.Partial("_Pagination")
    </script>
}
