
@{
    ViewBag.Title = "شارژ کردن کارت";
}



<div class="container">
    <div class=" col-md-2">
        <input type="search" id="txtSearch" class="form-control" name="word" placeholder="جستجو..." />
    </div>
    <div class="col-md-2 col-lg-2">
        <select class="form-control" id="cmbDescriptionType">
            <option value="-1">نوع شارژ</option>
            @if (User.IsInRole("admin") || User.IsInRole("customerCardChargeAccounting"))
            {
                <option value="2">غیر پوز</option>
                <option value="0">مرجوعی</option>
            }
            @if (User.IsInRole("admin") || User.IsInRole("customerCardChargeCrm"))
            {
                <option value="1">روابط عمومی</option>
            }
        </select>
    </div>

    <div class=" col-md-2">
        <select id="cmbBranch" class="form-control" name="branch">
            <option value="">شعبه</option>
            <option value="2"> شهرک غرب</option>
            <option value="4"> نیاوران</option>
            <option value="16"> آنلاین</option>
            <option value="21"> فرشته</option>
            <option value="25"> دریاچه چیتگر</option>
            <option value="28"> پاسداران</option>
            <option value="31"> کلاسیک</option>
            <option value="39"> تهرانپارس</option>
        </select>
    </div>
    <div>
        <span class="btn btn-success" id="sumRequestAmount"></span>
        <span class="btn btn-success" id="sumChargeAmount"></span>
    </div>
    <br />
    <br />
    <ul class="nav nav-tabs ">
        <li><a class="status" style="color:orange" data-toggle="tab" href="#menu1" data-status="1">تایید نشده</a></li>
        <li><a class="status" style="color:deepskyblue" data-toggle="tab" href="#menu4" data-status="4">بازبینی</a></li>
        <li><a class="status" style="color:#5cb85c" data-toggle="tab" href="#menu2" data-status="2">تایید شده</a></li>
        <li><a class="status" style="color:#d9534f" data-toggle="tab" href="#menu3" data-status="3">رد شده</a></li>
        <li class="active"><a class="status" data-toggle="tab" href="#home" data-status="0">همه</a></li>
    </ul>
    <div id="content"></div>
</div>

<div class="modal fade" id="modal-checkout" tabindex="-1" role="dialog" aria-hidden="true" style="        overflow: auto">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">درخواست بازبینی</h5>
            </div>
            <div class="modal-body">
                <form id="form-checkout">
                    <div class="margin-top">
                        <label>توضیحات</label>
                        <textarea id="txtDescription" type="text" class="form-control" name="description"></textarea>
                    </div>
                    <input id="hiddenId" type="hidden" name="id" />
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button id="btnSaveCheckout" class="btn btn-success">
                    ذخیره
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        var defaultEntity = {
            page: "0",
            count: "50"
        }
        $(document).ready(function () {
            getList();

            $(window).on('hashchange', function () {
                getList();
            });
            $(".status").on("click", function () {

                var status = $(this).attr("data-status");

                var entity = {
                    status: status
                };
                manipulateParam(entity, "page");
            });
            $("#txtSearch").on("keydown", function (e) {
                var word = $(this).val();
                var entity = {
                    word: word
                };
                if (e.which == 13) {
                    manipulateParam(entity, "page");
                }
            });
            $("#cmbBranch").on("change", function () {
                var entity = {
                    branch: $(this).val()
                };
                manipulateParam(entity, "page");
            });
            $("#cmbDescriptionType").on("change", function () {
                var entity = {
                    descriptionType: $(this).val()
                };
                manipulateParam(entity, "page");
            });
            $(document).on("click", ".btnAccept", function () {
                var amount = $(this).attr("data-amount");
                var code = $(this).attr("data-code");
                var id = $(this).attr("data-id");
                var type = $(this).attr("data-type");
                var pointPercent = $(this).attr("data-point");
                save(amount, code, id, type, pointPercent)
            })
            $(document).on("click", ".btnCheckout", function () {

                var id = $(this).attr("data-id");
                $("#hiddenId").val(id);
                $("#modal-checkout").modal("show");
            });
            $(document).on("click", "#btnSaveCheckout", function () {
                checkout();
            });
            $(document).on("click", ".btnDeny", function () {
                var code = $(this).attr("data-code");
                var id = $(this).attr("data-id");
                deny(id)
            });
        });
        function getList() {
            updateForm();
            var newParams = getParam();
            var param = $.extend(defaultEntity, newParams);
            loader(true)
            $.get("/customerCard/cardChargeAggreementList", param, function (response) {
                if (response.status == 200) {
                    if (response.data) {
                        var data = response.data;
                        var template = $.templates("#template");
                        var htmlOutput = template.render(data);
                        $("#content").html(htmlOutput);
                        $("#sumRequestAmount").html(" کل مبلغ درخواستی " + data.sumRequestAmount + " ریال ");
                        $("#sumChargeAmount").html(" کل مبلغ های شارژ شده " + data.sumChargeAmount + " ریال ");
                        if (param["status"] && param["status"] == 1 || param["status"] == 4) {

                            $(document).find(".operation").removeClass("hidden");
                            $(document).find(".btnCheckout").removeClass("hidden");
                            if (param["status"] == 4) {
                                $(document).find(".btnCheckout").html("<i class=\"fa fa-edit\"></i>")
                            }

                        }
                        else {

                            $(document).find(".operation").addClass("hidden");
                        }

                        


                    }
                }
                else {
                    alert(response.message)
                }
                loader(false)
            });

        }
        function save(amount, code, id, type, pointPercent) {
            var entity = {
                amount: amount,
                cariorcard: code,
                id: id,
                descriptionType: type,
                pointPercent: pointPercent
            }
            loader(true)
            $.get("/customerCard/chargeAccountMerchant", entity, function (response) {
                if (response.status == 200) {
                    getList();
                }
                else {
                    alert(response.message)
                }
                loader(false)
            });

        }
        function deny(id) {
            loader(true)
            $.get("/customerCard/CardChargeDeny/" + id, function (response) {
                if (response.status == 200) {
                    getList();
                }
                else {
                    alert(response.message)
                }
                loader(false)
            });
        }
        function checkout() {
            loader(true)
            var entity = getEntity("#form-checkout");
            $.get("/customerCard/checkout/", entity, function (response) {
                if (response.status == 200) {
                    $("#modal-checkout").modal("hide");
                    getList();
                }
                else {
                    alert(response.message)
                }
                loader(false)
            });
        }
        function updateForm() {
            var params = getParam();
            $("ul li").removeClass("active");
            console.log(params)
            if (params["status"] && params["status"] >= 0)
                $("ul li a[data-status=" + params["status"] + "]").closest("li").addClass("active");
            else {
                $("ul li:last").addClass("active");
                defaultEntity.status = null;
            }
        }
    </script>
    <script id="template" type="text/x-jsrender">

        {{if list.length > 0}}
        <table class="table table-data table-responsive">
            <thead>
                <tr>
                    <th class="txt-al-c">ردیف</th>
                    <th class="txt-al-c">تاریخ</th>
                    <th class="txt-al-c">شعبه</th>
                    <th class="txt-al-c">نوع شارژ</th>
                    <th class="txt-al-c">کد مشتری</th>
                    <th class="txt-al-c">موبایل</th>
                    <th class="txt-al-c">نام</th>
                    <th class="txt-al-c">نوع کارت</th>
                    <th class="txt-al-c">شماره فاکتور</th>
                    <th class="txt-al-c">مبلغ درخواست</th>
                    <th class="txt-al-c">مبلغ شارژ</th>
                    <th class="txt-al-c">کاربر ثبت کننده</th>
                    <th class="txt-al-c operation hidden">عملیات</th>
                </tr>
                <tr></tr>
            </thead>
            <tbody>
                {{for list}}
                <tr>
                    <td class="txt-al-c">{{:#index + 1}}</td>
                    <td class="txt-al-c">{{:persianCreateDate}}</td>
                    <td class="txt-al-c">{{:createUser}}</td>
                    <td class="txt-al-c">{{:descriptionTypeTitle}}</td>
                    <td class="txt-al-c">{{:cariorCode}}</td>
                    <td class="txt-al-c">{{:mobile}}</td>
                    <td class="txt-al-c">{{:fullName}}</td>
                    <td class="txt-al-c">{{:pointPercent}}%</td>
                    <td class="txt-al-c"> {{if factorNumber}} {{:factorNumber}}{{else}} <i class="fa fa-times" style="color:red"></i> {{/if}}</td>
                    <td class="txt-al-c">{{:requestAmountSeparator}}</td>
                    <td class="txt-al-c">{{:amountSeparator}}</td>
                    <td class="txt-al-c">{{:createPerson}}</td>
                    <td class="txt-al-c operation hidden">
                        <button class="btn btn-info btn-xs btnCheckout hidden" data-id="{{:id}}"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-success btn-xs btnAccept" data-type="{{:descriptionType}}" data-point="{{:pointPercent}}" data-amount="{{:requestAmount}}" data-code="{{:cariorCode}}" data-id="{{:id}}"><i class="fa fa-check"></i></button>
                        <button class="btn btn-danger btn-xs btnDeny" data-id="{{:id}}"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                <tr style="border:none !important">
                    <td colspan="7" style="border:none !important">
                        <p style="display:inline;color:#ff4800">
                            <span style="color:black"> توضیحات:</span> {{:description}}
                        </p>
                    </td>
                </tr>
                <tr style="border:none !important">
                    <td colspan="7" style="border:none !important">
                        <p style="display:inline;color:#ff4800">
                            <span style="color:black">  توضیحات حسابداری: </span> {{:checkoutDescription}}
                        </p>
                    </td>
                </tr>
                {{/for}}
            </tbody>
        </table>
        <div class="clearfix"></div>
        @Html.Partial("_Pagination")
        {{else}}
        <h4 class="txt-al-c">موردی یافت نشد</h4>
        {{/if}}
    </script>
}