@{
    ViewBag.Title = "جایگاه خرج کار";
}

<link href="~/content/order-page.css" rel="stylesheet" />

<style>
    .product-item .small-font .fa {
        width: 25px;
        color: #555;
        text-align: center;
    }

    .site-label {
        margin: 0 7px;
    }

        .site-label .chk {
            margin: 0;
            vertical-align: middle;
            margin-left: 3px;
        }
    /*#filter-list {
        width: 100% !important;
    }*/
    .related {
        left: 35px !important;
    }

    .set {
        left: 60px !important;
    }

    @@media only screen and (min-width : 992px) {
        #menu-holder {
            width: calc(75% - 112px);
        }
    }
    /*.chkType-group{
        display:none;
    }*/
    .fixed-filter {
        position: fixed;
        z-index: 10;
        height: 100%;
        overflow-x: hidden;
        padding-left: 15px;
    }
    .place-img {
        position: absolute;
        right: 170px;
        top: 240px;
    }
    
</style>

<div class="row" style="min-height: 85vh">
    <div class="col-md-3 " style="">
        <div id="filter-list" class="fixed-filter navbar-search hidden-xs  hidden-sm">
            <div><input class="form-control txtCode" type="text" placeholder="جستجو..." name="code" /></div>

            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="col-md-9 col-md-offset-3">
        <div id="menu-holder" class="affix">
            <div id="menu">
                <ul>
                    <li><a id="all-workshop" href="#">همه</a></li>
                </ul>
            </div>
        </div>
        <div id="productList" class="col-xs-12">
        </div>
        <div class="col-xs-12">
            <h6 class="more txt-al-c">
                <span class="icon mdi-set mdi-chevron-double-down"></span><span>بیشتر...</span>
            </h6>
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg fab-filter">
    <span class="fa fa-filter fab-filter-icon"></span>
</div>

@section Scripts {
    <script type="text/javascript">
        $(window).on('hashchange', function () {
            getList();
        });

        $(document).ready(function () {
            var page = getParam()["page"];
            if (page)
                removeParam(["page"]);
            else
                getList();

            var flag = true;
            $(window).scroll(function () {
                var isElementInView = Utils.isElementInView($('.more'), false);

                if (flag && !$('.more').hasClass("hide") && isElementInView) {
                    flag = false;
                    setTimeout(function () {
                        flag = true;
                    }, 500);

                    var page = getParam()["page"];
                    if (page)
                        setParam("page", ++page);
                    else
                        setParam("page", 1);
                }
            });
            
            $(document).on("keyup", ".txtCode", function (e) {
                var code = e.which;
                if (code == 13) e.preventDefault();
                if (code == 13) {
                    if ($(this).val()) {
                        var param = { term: $(this).val() }
                        manipulateParam(param, "page");
                    }
                    else
                        removeParam("term");
                }
            });
        });

        function getList() {
            updateForm();
            var entity = {
                page: 0,
                count: 24,
                term: null,
            };

            var urlParams = getParam();
            var params = $.extend(entity, urlParams);

            if (params.page == 0) {
                $("#productList").empty();
            }

            loader(true);
            $('.more').addClass("hide");
            $.post("/product/search?isOuterWerk=true", params, function (response) {
                if (response.status == 200) {
                    var data = response.data;
                    var template = $.templates("#template");
                    var htmlOutput = template.render(data);
                    $("#productList").append(htmlOutput);

                    $(".more").removeClass("hide");

                    if (response.data.pageCount == 0 || response.data.page == response.data.pageCount) {
                        $(".more").addClass("hide");
                    }
                    else {
                        $(".more").removeClass("hide");
                    }

                    $('[data-toggle="tooltip"]').tooltip();
                }
                else {
                    alert(response.message);
                }
                loader(false);
            });
        }

        function updateForm() {
            var params = getParam();
            
            // term
            if (params["term"]) {
                $(".txtCode").val(params["term"]);
            }
            else {
                $(".txtCode").val("");
            }
            $("#modal-filter").css({ "overflow-y": "scroll" });
        }
    </script>

    <script id="template" type="text/x-jsrender">
        <div class="row">
            {{for list}}
            {{if outerWerkPlacement}}
            <div class="product-item col-sm-6 col-md-4 col-lg-3 pull-right">
                <div style="background-color: white">
                    <div class="relative" style="padding:{{:paddingImg}}px">
                        <span id="badge{{:id}}" class="badge absolute hidden" style="top: 7px; right: 7px; background-color: red;"></span>
                        {{if fileName}}
                        <img style="width: 100%;" src="/image/product/500x500/{{:fileName}}"/>
                        <span class="block place-img small-font" style="font-size:15px;">
                            <i class="fa fa fa-briefcase v-middle" aria-hidden="true"></i><b><span style="color:green"> {{:outerWerkPlacement}} </span></b>
                        </span>
                        {{else}}
                        <img style="width: 100%;" src="/content/image/kia-gallery-logo-square.png" />
                        {{/if}}
                    </div>
                    <div class="relative" style="padding: 10px 3px 3px 0;">
                        
                        {{if title}}
                        <span class="block small-font" style="white-space: nowrap; overflow: hidden;">
                            <i class="fa fa-file-text-o v-middle" aria-hidden="true"></i> {{:title}}
                        </span>
                        {{else}}
                        <span class="block small-font">
                            <i class="fa fa-file-text-o v-middle" aria-hidden="true"></i> -
                        </span>
                        {{/if}}
                        {{if code}}
                        <span class="block small-font">
                            <i class="fa fa-list-alt v-middle" aria-hidden="true"></i> کد: {{:code}}
                        </span>
                        {{else}}
                        <span class="block small-font">
                            <i class="fa fa-list-alt v-middle" aria-hidden="true"></i> کد: -
                        </span>
                        {{/if}}
                        {{if bookCode}}
                        <span class="block small-font">
                            <i class="fa fa-barcode v-middle" aria-hidden="true"></i> کد کارگاه: {{:bookCode}}
                        </span>
                        {{else}}
                        <span class="block small-font">
                            <i class="fa fa-barcode v-middle" aria-hidden="true"></i> کد کارگاه: -
                        </span>
                        {{/if}}
                        {{if weight}}
                        <span class="block small-font">
                            <i class="fa fa-balance-scale v-middle" aria-hidden="true"></i> وزن: {{:weight}}~
                        </span>
                        {{else}}
                        <span class="block small-font">
                            <i class="fa fa-balance-scale v-middle" aria-hidden="true"></i> وزن: -
                        </span>
                        {{/if}}
                       
                        <hr style="margin: 3px 0 0 0;" />
                    </div>
                </div>
            </div>
            {{/if}}
            {{/for}}
        </div>
    </script>
}