@{
    ViewBag.Title = "سبد سفارشات";
}
<link href="~/Content/order-page.css" rel="stylesheet" />
<style>

    #main {
        padding: 20px;
        margin-top: 20px;
    }
</style>
<input type="button" class="btn btn-primary btn-batch-print" value="چاپ گروهی" style="margin-bottom: 10px;" />
<div id="menu">
    <ul>
        <li><a href="#" class="branchType relative" data-id="[0,1,2]"> شعبه و نمایندگی</a><span style="font-size:18px;display: flex;justify-content: center;align-items: end;width:20px;height:20px;border-radius:50px;top:1px;left:0;text-align:center;color:white;z-index:9" class="branchesCount absolute"></span></li>
        @foreach (var item in ViewBag.CoWorkerList)
        {
            <li><a href="#" class="coWorker relative" data-id="@item.id">@item.name</a><span style="font-size:18px;width:20px;height:20px;display: flex;justify-content: center;align-items: end;border-radius:50px;top:1px;left:0;text-align:center;color:white;z-index:9" class="coWorkerCount absolute"></span></li>
        }
        <li><a href="#" class="all" data-id="">همه</a></li>
    </ul>
</div>
<div id="content">

</div>

@section scripts {
    <script type="text/javascript">
        $(window).on('hashchange', function () {
            getList();
        });

        $(document).ready(function () {
            $(".btn-batch-print").hide()
            getList(function () {
                $("#content").empty();
            });
            $(document).on("click", ".all", function () {
                $(".btn-batch-print").hide();
            });
            $(document).on("click", ".branchType", function (event) {
                event.preventDefault();
                $(".btn-batch-print").show()
                var entity = {
                    branchType: [0, 1, 2]
                };
                manipulateParam(entity, ["page", "coWorker"]);
            });
            $(document).on("click", ".coWorker", function (event) {
                event.preventDefault();
                $(".btn-batch-print").show()
                var entity = {
                    coWorker: $(this).attr("data-id")
                };
                manipulateParam(entity, ["page", "branchType"]);
            });
            $(document).on("click", ".btn-batch-print", function (event) {
                event.preventDefault();

                var idList = new Array();
                $(".workshop-item:checked").each(function (index, element) {
                    idList.push($(this).val());
                });

                if (idList.length > 0) {
                    confirmMessage("آیا از تایید این فاکتور برای در حال ساخت اطمینان دارید؟", function () {
                        $.post("/order/changeStatusOrderDetail/" + idList.join("-"), function (response) {
                            if (response.status == 200) {
                                document.location = "/order/printWorkshop/" + idList.join("-");
                                getList();
                            }
                            else {
                                alert(response.message);
                            }
                            loader(false);
                        });
                    });
                }
                else
                    alert("برای چاپ گزارش حداقل می بایست یک گزینه انتخاب شود.");
            });
            $(document).on("click", ".print", function (event) {
                event.preventDefault();
                var id = $(this).attr("data-id");
                confirmMessage("آیا از تایید این فاکتور برای در حال ساخت اطمینان دارید؟", function () {

                    $.post("/order/changeStatusOrderDetail/" + id, function (response) {
                        if (response.status == 200) {
                            document.location = "/order/printWorkshop/" + id;
                            getList();
                        }
                        else {
                            alert(response.message);
                        }
                        loader(false);
                    });
                });
            });
        });

        function getList(callback) {
            updateForm()
            var defaultEntity = {
                page: 0,
                count: 50
            }
            var newParams = getParam();
            var params = $.extend(defaultEntity, newParams);

            loader(true);
            $.post("/order/getAllWorkshopOrder", params, function (response) {
                if (response.status == 200) {
                    var data = response.data;
                    var template = $.templates("#template");
                    var htmlOutput = template.render(data);
                    $("#content").html(htmlOutput);
                    if (response.data.branchCount > 0) {
                        $(".branchesCount").html(response.data.branchCount);
                        $(".branchesCount").css({ "background-color": "red" })

                    }
                    if (response.data.coWorkerCount > 0) {
                        $(".coWorkerCount").html(response.data.coWorkerCount);
                        $(".coWorkerCount").css({ "background-color": "red" })
                    }
                    if (typeof callback === 'function') {
                        callback();
                    }
                }
                else {
                    alert(response.message);
                }
                loader(false);
            });
        }
        function updateForm() {
            var params = getParam();
            $("#menu li").removeClass("active");
            if (params["branchType"])
                $("#menu li a[data-id='[0,1,2]' ]").closest("li").addClass("active");

            if (params["coWorker"] && params["coWorker"] >= 0)
                $("#menu li a[data-id=" + params["coWorker"] + "]").closest("li").addClass("active");

            if (!params["coWorker"] && !params["branchType"])
                $("#menu li:last").addClass("active");

        }
    </script>

    <script id="template" type="text/x-jsrender">
        <table class="table table-data table-responsive">
            <thead>
                <tr>
                    <th style="width: 40px;"></th>
                    <th>شماره سفارش مرجع</th>
                    <th>سریال سفارش</th>
                    <th class="hidden-xs">تعداد</th>
                    <th class="hidden-xs">تعداد نیم ست</th>
                    <th class="hidden-xs">وزن</th>
                    <th class="hidden-xs hidden-sm">کاربر ثبت کننده</th>
                    <th class="hidden-xs hidden-sm text-center" style="width: 110px;">تاریخ ثبت</th>
                    <th class="icon-col text-center">جزئیات</th>
                    <th class="icon-col text-center">تایید</th>
                </tr>
            </thead>
            <tbody>
                {{for list}}
                <tr>
                    <td class="txt-al-c"><input type="checkbox" value="{{:id}}" class="workshop-item no-margin" /></td>
                    <td>{{:orderNumber}}</td>
                    <td>{{:orderSerial}}</td>
                    <td class="hidden-xs">{{:sumCount}}</td>
                    <td class="hidden-xs">{{:sumCountSet}}</td>
                    <td class="hidden-xs">{{:sumWeight}} گرم</td>
                    <td class="hidden-xs hidden-sm">{{:createUser}}</td>
                    <td class="hidden-xs hidden-sm text-center">{{:createDate}}</td>
                    <td class="txt-al-c">
                        <a href="/order/workshopDetail/{{:id}}" class="btn btn-primary btn-xs" data-title="جزئیات"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>
                    <td class="txt-al-c">
                        <a data-id="{{:id}}" class="btn btn-primary btn-xs print" data-title="چاپ"><i class="fa fa-print" aria-hidden="true"></i></a>
                    </td>
                </tr>
                {{/for}}
            </tbody>
        </table>
        <div class="clearfix"></div>
        @Html.Partial("_Pagination")
        <div class="clearfix"></div>
    </script>
}