
@{
    ViewBag.Title = "Test";
}

<div class="container">
    <h1>جنسیت</h1>
    <lable>مرد</lable>
    <input type="radio" name="gender" value="1" />
    <lable>زن</lable>
    <input type="radio" name="gender" value="2" />
    <h1>علاقه مندی</h1>
    <lable>موسیقی</lable>
    <input type="radio" name="favorite" value="3" />
    <lable>فیلم</lable>
    <input type="radio" name="favorite" value="4" />
    <lable>کتاب</lable>
    <input type="radio" name="favorite" value="5" />
    <button id="submit" class="btn btn-danger">ذخیره</button>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#submit").on("click", function () {
                var JSON = { gender: $("input[name=gender]:checked").val(), favorite: $("input[name=favorite]:checked").val()};
            console.log(JSON);
            })
        });
    </script>
   
}